In [7]:
#importing Libraries
import pandas as pd
import os
import sys

#import local libraries
#Adding scripts path
sys.path.append(os.path.abspath(os.path.join('..')))
#importing dvc_data_loader script
# from scripts.dvc_data_loader import *
from Scripts.data_information import DataInfo
from Scripts.data_loader import load_df_from_csv
#from Scripts.data_manipulation import DataManipulator
from Scripts.data_cleaner import DataCleaner
from Scripts.utlity_functions import convert_to_month_name
from Scripts.grapher import *
from sklearn import preprocessing
import warnings
warnings.filterwarnings('ignore')

In [8]:
combined_df = load_df_from_csv('../data/train.csv')
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Store          1017209 non-null  uint16
 1   DayOfWeek      1017209 non-null  uint8
 2   Date           1017209 non-null  object
 3   Sales          1017209 non-null  uint16
 4   Customers      1017209 non-null  uint16
 5   Open           1017209 non-null  uint8
 6   Promo          1017209 non-null  uint8
 7   StateHoliday   1017209 non-null  object
 8   SchoolHoliday  1017209 non-null  uint8
dtypes: object(2), uint16(3), uint8(4)
memory usage: 25.2+ MB

In [9]:
combined_df.head(5)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [13]:
info = DataInfo(combined_df)
info.get_column_based_missing_percentage()

               total_missing_values missing_percentage
Store                             0              0.0 %
DayOfWeek                         0              0.0 %
Date                              0              0.0 %
Sales                             0              0.0 %
Customers                         0              0.0 %
Open                              0              0.0 %
Promo                             0              0.0 %
StateHoliday                      0              0.0 %
SchoolHoliday                     0              0.0 %